head
link(rel='stylesheet', href='/stylesheets/style.css')

body
  h1 Janne's Image Search API
  br
  h2 Instructions
  p This API has two functions, one is that it returns JSON data of a Bing <br> image search, and the  other is that it will also return a search history
  br 
  h3 Examples: 
  br
  h4 Searching for Images
  code https://janne-image-api.herokuapp.com/api/imagesearch/cats
  p This command should return 10 JSON objects containing links to images. <br> an optional query may be added in the form of <code>?offset=x</code> for any integer between 1-5X. <br> This offset query sets which page of ten the user wishes to view
  p Example: 
  code https://janne-image-api.herokuapp.com/api/imagesearch/cats?offset=2
  br
  br
  h4 Viewing Search History
  code https://janne-image-api.herokuapp.com/api/recent
  p This command should return the previous search history of this API, including a timestamp, read off of a Mongoose Database.
